*{
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.search-box{
margin: 0 0 75px;
width:100%;
}

.search-text{
padding:15px;
width:  100%;
font-size: 24px;
outline:none;
background-color: rgba(255,255,255,0.7);
border-radius: 16px;
border: 0;
}

body{
  font-family: 'montseratt',sans-serif;

}

.App{
  background-image: url('./asset/cold-weather.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.App.hot{
  background-image: url('./asset/hot-weather.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out
}
main{
  min-height: 100vh;
  padding:25px;
}

.location-box{
  font-weight: 500;
  color: #000;
  font-size:32px;
  text-align: center;
  text-shadow: 3px 3px rgba(255,255,255,0.4);
}

.weather-box{
  background-color:rgba(177,218,242,0.5);
  margin-top:  30px ;
  display: inline-block;
  border-radius: 40px;
  border: 1px solid blue;
  padding: 15px;

}

.weather-temp{
  text-shadow: 3px 3px rgba(255,255,255,0.4);
 
}
.box{
  display:flex;
  justify-content: center;
 
  
}
.location-date{
  font-size: medium;
  font-weight: bolder;
  background-color:rgba(177,218,242,0.5);
  padding:10px
}
.location-name{
  font-size:50px;
  background-color:rgba(177,218,242,0.5);
  display: inline-block;
  border-radius: 20px;
 
  padding:15px;
}